[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "~=2.25.1"
typing = "*"
python-dotenv = "*"
pydantic = "~=1.10"
requests = "*"
environs = "~=9.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
